header {
    border: 5px solid black;
    text-decoration: underline;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    width: 1000px;
    background-image: url(./barback.jpg);
    color: white;
    }
nav {
    display: inline-block;
    word-spacing: 10px;
}
a:hover {
    background-color: yellow;
    color: #ED9100;
}
a{
    color: white;
}
body {
    background-image: url(./beerbackg.png); 
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}

h3 {
    border: 3px solid black;
    font-size: xx-large;
    font-family: 'Smooch';
    margin: auto;
    text-align: center;
    width: 40%;
    border-radius: 30px;
    color: black;
    background: linear-gradient(0deg, #ED9100, #FFFDF8);
}

h4 {
    border: 3px solid black;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    margin: auto;
    width: 35%;
    border-radius: 30px;
    color: black;
    background: linear-gradient(0deg, #ED9100, #FFFDF8);

}
ul {
    border: 3px solid black;
    text-align: center;
    width: 60%;
    margin: auto;
    background: linear-gradient(0deg, #ED9100, #FFFDF8);
    border-radius: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 200px;
    padding: 2% 2%;
}
